.bannerimg{
    height: 40rem;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -15rem;
}


.firstrow{
    display: flex;
    width: 100%;
}

@media(max-width: 768px){
    #secondrow{
        display: block;
    }
    
}

